# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Data (tracked by DVC — ALWAYS IGNORE THESE IN GIT)
data/raw/*.csv
data/raw/*.7z
data/raw/*.zip
data/processed/*.parquet
models/*.pkl

# MLflow tracking
mlruns/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Env
.env
*.env

# DVC cache
.dvc/cache/
.dvc/tmp/

# OS
.DS_Store
Thumbs.db
__MACOSX/

# IDE
.vscode/settings.json
.idea/
